@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-header{
    color:black;
    text-align: center;
}

.link-bar{
    display: flex;
    width: 90%;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.navbar{
    background-color: rgb(165, 209, 165);
}