.nav-header{
    color:black;
}

.link-bar{
    display: flex;
    width: 60%;
    align-items: left;
    list-style-type: none;
    justify-content: space-between;
}

.navbar{
    background-color: rgb(165, 209, 165);
}